<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="File/DownloadFile" method="post">
        <p>Input your name</p>
        <p><input type="text" name="name" /></p>
        <p>Input your surname</p>
        <p><input type="text" name="surname" /></p>
        <p>Input your file name</p>
        <p><input type="text" name="filename" /></p>
        <p><input type="submit" value="Download" /></p>
    </form>
</body>
</html>